blinker==1.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
filelock==3.14.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.0
gerencianet==3.0.0
greenlet==3.0.3
gunicorn==20.1.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==1.26.4
oauthlib==3.2.2
packaging==24.0
pillow==10.3.0
platformdirs==4.2.1
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.26.1
Werkzeug==3.0.3
WTForms==3.1.2
