body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f7f7f7; /* Alteração da cor de fundo */
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px;
}

h1, h2 {
    color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
}

.progress-container {
    width: 100%;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #f3f3f3; /* Alteração da cor da barra de progresso */
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    height: 20px; /* Definindo a altura da barra de progresso */
}

.progress {
    height: 100%;
    background-color: #4caf50; /* Cor da barra de progresso */
    width: 0;
    transition: width 0.3s ease-in-out;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.step {
    width: 23%;
    background-color: #ddd;
    color: #666;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.step.completed {
    background-color: #4caf50; /* Cor verde para as etapas concluídas */
    color: #fff;
}

label {
    display: block;
    margin-top: 10px;
}

.form-group {
    margin: 1rem 0;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button, .button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #0056b3;
}

button.confirm {
    background-color: #28a745;
}

button.confirm:hover {
    background-color: #218838;
}

button.edit {
    background-color: #e67e22;
}

button.edit:hover {
    background-color: #d35400;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.payment-options {
    margin-top: 1rem;
    display: flex; /* Alteração para flexbox */
    justify-content: center; /* Centralizando os elementos */
}

.payment-option {
    margin-right: 1rem;
}

.payment-option label {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    color: #007bff;
    margin: 0; /* Removendo a margem que separa os elementos */
}

.payment-option input[type="radio"] {
    display: none;
}

.payment-option label:hover {
    background-color: #e0e0e0;
}

.payment-option input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}
